:root 
{
    --primary-gradient: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    
    --very-light-gray-blue: hsl(240, 78%, 98%);
    --light-gray-blue: hsl(234, 14%, 74%);
    --gray-blue: hsl(233,13%, 49%);
    --dark-gray-blue: hsl(232, 13%, 33%);

    --font: 'Montserrat', sans-serif;
}


body 
{
    margin: 0;
}


#pricing-component 
{
    font-size: 0.9375rem;
    font-weight: 700;
    font-family: var(--font);
    text-align: center;
    color: var(--gray-blue);
    
    background-image: url(../images/bg-top.svg), url(../images/bg-bottom.svg);
    background-position-x: 190px, -190px;
    background-position-y: top, bottom;
    background-repeat: no-repeat;

    padding: 4.375rem 6.66%; 
}

#pricing-component * 
{
    box-sizing: border-box;
}


#pricing-component h3 
{
    font-size: 1.9rem;
}

#pricing-component #switch-container 
{
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;

    justify-content: center;
    
}

.custom-checkbox input
{
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.custom-checkbox span 
{
    display:inline-block;
   width: 3.625rem;
   height: 2rem;
   position: relative;
   vertical-align: middle;
   cursor: pointer;
   margin: 0 1.6875rem;
}
.custom-checkbox span::after 
{
    right: 0;
    transition: left 250ms, right 250ms;
}

.custom-checkbox span::before, .custom-checkbox span::after 
{
    content: '';
    top: 0;
    position: absolute;
}

.custom-checkbox span::before
{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    background: var(--primary-gradient);
    left: 0;
    filter: brightness(100%);
    transition: filter 250ms;
}

.custom-checkbox span::after {
    width: 1.45rem;
    height: 1.45rem;
    margin: 0.25rem;
    border-radius: 50%;
    background: white;
  }

  .custom-checkbox input:checked + span::after 
  {
      right: 45%;
  }
  .custom-checkbox input:hover + span::before 
  {
      filter:brightness(120%);
  }
 
