:root 
{
    --primary-gradient-start: hsl(236, 72%, 79%);
    --primary-gradient-end: hsl(237, 63%, 64%);
    --primary-gradient: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    
    --very-light-gray-blue: hsl(240, 78%, 98%);
    --light-gray-blue: hsl(234, 14%, 74%);
    --gray-blue: hsl(233,13%, 49%);
    --dark-gray-blue: hsl(232, 13%, 33%);

    --font: 'Montserrat', sans-serif;
}


body 
{
    margin: 0;
}


#pricing-component 
{
    font-size: 0.9375rem;
    font-weight: 700;
    font-family: var(--font);
    text-align: center;
    color: var(--gray-blue);
    
    background-image: url(../images/bg-top.svg), url(../images/bg-bottom.svg);
    background-position-x: 190px, -190px;
    background-position-y: top, bottom;
    background-repeat: no-repeat;

    padding: 4.375rem 6.66%; 
}

.pricing-component * 
{
    box-sizing: border-box;
    margin: 0;
}


#pricing-component h3 
{
    font-size: 1.9rem;
    margin-bottom: 2rem;
}

#pricing-component #switch-container 
{
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;

    justify-content: center;
    align-items: center;
    
}




#switch-container 
{
    margin-bottom: 4.5rem;
}

.custom-checkbox 
{
   margin: 0 1.6875rem;
}

.custom-checkbox input
{
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.custom-checkbox span 
{
    display:inline-block;
   width: 3.625rem;
   height: 2rem;
   position: relative;
   vertical-align: middle;
   cursor: pointer;
}
.custom-checkbox span::after 
{
    right: 0;
    transition: left 250ms, right 250ms;
}

.custom-checkbox span::before, .custom-checkbox span::after 
{
    content: '';
    top: 0;
    position: absolute;
}

.custom-checkbox span::before
{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    background: var(--primary-gradient);
    left: 0;

    -webkit-filter: brightness(100%);
    filter: brightness(100%);
    transition: filter 250ms;
}

.custom-checkbox span::after {
    width: 1.45rem;
    height: 1.45rem;
    margin: 0.25rem;
    border-radius: 50%;
    background: white;
  }

  .custom-checkbox input:checked + span::after 
  {
      right: 45%;
  }
  .custom-checkbox input:hover + span::before 
  {
    -webkit-filter: brightness(120%);
      filter:brightness(120%);
  }
 

  


  .price-plan 
  {
      background-color: white;
      box-shadow: 0px 5px 25px var(--light-gray-blue);

      border-radius: 0.75rem;

      padding: 2.375rem;
      margin-bottom: 1.9375rem;

      
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      
      flex-direction: column;
      align-items: center;
  }

  .price-plan.highlight
  {
      background: linear-gradient(180deg, var(--primary-gradient-start), var(--primary-gradient-end));
      color: white;
  }

  .price-plan h4 
  {
      font-size: 1.2rem;
      margin-bottom: 1.5rem;
  }

  .price-plan h1, .price-plan h1 span 
  {
      font-size: 4rem;
      color: var(--dark-gray-blue);
  }

  .price-plan.annual h1
  {
      font-size: 2.5rem;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      
      align-items: center;
      justify-content: center;

  }

  .price-plan.annual h1 span 
  {
      margin-left: 0.5rem;
  }

  .price-plan.highlight h1, .price-plan.price-plan.highlight h1 span
  {
      color: white;
  }

  .price-plan .details 
  {
      border-top: 1px solid var(--light-gray-blue);
      margin-bottom: 1.5rem;
  }

  .price-plan p 
  {
      padding: 0.9rem 0;
    border-bottom: 1px solid var(--light-gray-blue);
  }


  .price-plan.highlight button 
  {
      background: white;
      color: var(--primary-gradient-end);
  }

  .price-plan.highlight button:hover, .price-plan.highlight button:focus
  {
      color: white;
      border-color: white;
  }


  @media (min-width:600px)
  {

    #pricing-component 
    {
        padding-left: 0;
        padding-right: 0;
    }
      #pricing
      {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
          display: flex;
          
  
          justify-content: center;
          align-items: center;
          
      }

      .price-plan, 
      .price-plan.annual
      {
          min-width: 250px;
          width: 24%;
      }

      .price-plan.highlight 
      {
          padding-top: 4rem;
          padding-bottom: 4rem;
      }

  }


  /*Components*/

  .pricing-component button 
  {
      background: var(--primary-gradient);
      width: 100%;
      color: white;
      font-family: var(--font);
      font-size: 0.8rem;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      padding: 1em 0;
      border-radius: 5px;
      border: 1px solid rgba(0,0,0,0);

      transition: background-color 250ms, background-image 250ms, border 250ms, color 250ms;
  }

  .pricing-component button:hover, .pricing-component button:focus 
  {
    background: 0;
    color: var(--primary-gradient-start);
    border-color: var(--primary-gradient-start);
  }
  
